<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="s1" class ="org.atuluttam.Student" >

        <property name="roll" value = "0"/>
        <property name="name" value="ABC" />
        <property name="lap"   ref="l1"/>


    </bean>

    <bean id="l1"  class="org.atuluttam.Laptop">

    </bean>




</beans>